<h1>Locations</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Last Updated</th>
  </tr>
  <% @results["locations"].each do |l| %>
  <tr>
    <td><%= l["id"] %></td>
    <td><%= l["lat"] %></td>
    <td><%= l["lon"] %></td>
    <td><%= l["last_update"] %></td>
  </tr>
  <% end %>
</table>
